* {
	margin: 0;
	padding: 0;
}

p {

	line-height: 16px;
	font-size: 14px;
}




.collums{

	margin: 0 auto;
	width: 1200px;
	background-image: url('linecolor.png');
	background-repeat: repeat-y;
}

.collum {

	display: inline-block;
	text-align: left;
	width: 45%;
}

.number {
	display: inline-block;
	text-align: left;
	width: 3%;
}
